<div class="flex">
  <button class="item">
    <i nz-icon nzType="smile" nzTheme="fill"></i>
    <span>會員中心</span>
  </button>
  <button class="item">
    <i nz-icon nzType="question" nzTheme="outline"></i>
    <span>常見問題</span>
  </button>
  <button class="item">
    <i nz-icon nzType="fire" nzTheme="fill"></i>
    <span>熱門問題</span>
  </button>
  <button class="item">
    <i nz-icon nzType="thunderbolt" nzTheme="fill"></i>
    <span>快捷服務</span>
  </button>
  <button class="item">
    <i nz-icon nzType="star" nzTheme="fill"></i>
    <span>遊樂場</span>
  </button>
  <button class="item">
    <i nz-icon nzType="rocket" nzTheme="fill"></i>
    <span>Coming Soon</span>
  </button>
</div>
